@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
  }
  html {
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #077232;
  }
  body {
    background: #f7f6f6;
    height: auto;
    width: 100%;
  }
  
  
  

 .sports {
  
    justify-content: space-between;
    padding: 5rem;   
    z-index: 900;
  }

 

  .sports .nav a {
    position: relative;
    font-size: 25px;
   
    display: inline-block;
    border-radius: 0.1rem;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
   
    padding: 5px 20px;
    text-align: center;
 
  }

  .sports .nav a:after {
    content: "";
    position: absolute;
    background: #077232;
    height: 3px;
    
    left: 23px;
    bottom: -1px;
  }

  .sports .nav a:hover {
    color: #077232;
  
  }
  
  .sports .nav a:hover:after {
    width: 70%;
  }
  
  .sports .nav .active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
  }
  
  
  
  
  





  .all-products .header{
    text-align: center;
    margin-bottom:5rem;
    position: relative;
  
  
  }
  
  .all-products .header:before {
    
    position: absolute;
    top: 50%;
    left: 0;
    /* transform: translate(-50%);*/
    width: 100%;
    height: .03rem;
    background: rgba(0, 0, 0, 1);
    z-index: -1;
  }
  
  
  .all-products .header span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: #000;  
   bottom: 10px;   
  }
  .all-products .header span:hover{
    color: #077232;
  }

  

  .all-products .box-container .box {
    position: relative;
    width: 30rem;
   
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
   
  
  }
  
  .all-products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
  }
  
  .all-products .box {
    transition: all .40s;
    
  }
  
  
  .all-products .box-container .box:hover {
    border: 1px solid;
  }
  
  .all-products .box-container .box .image {
    padding: 1rem;
    background: #f7f6f6;
    width: 100%;
  
  }
  
  .all-products .box-container .box .image img {
    height: 20rem;
  }
  
  .all-products .box-container .box .image:hover {
    transform: translateY(4rem);
  }
  
  .all-products .box-container .box .icons {
    border-bottom: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    transform: translate(-100%);
  }
  
  .all-products .box-container .box:hover .icons {
    transform: translate(0%);
  }
  
  .all-products .box-container .box .icons a {
    color: #000;
    font-size: 2.2rem;
    padding: 1rem;
  }
  
  .all-products .box-container .box .icons a:hover {
    background: #077232;
    color: #fff;
  }
  
  .all-products .box-container .box .content-1 {
    background: #f7f6f6;
    padding: 1.5rem;
  }
  
  .all-products .box-container .box .content-1 h3 {
    color: #000;
    font-size: 3rem;
  
  }
  
  .all-products .box-container .box .content-1 .price {
    color: #272525;
    font-size: 2rem;
    padding-top:2rem;
    text-align: left;
  }
  
  
  .all-products .box .content-1 .btn {
    position: absolute;
    bottom: 1rem;
  
    right: 4rem;
    
  
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #fff;
    background: #077232;
    font-size: 2rem;
    cursor: pointer;
  
  }
  
  .box .content-1 .btn:hover {
    background: #000;
  }
  